Repository kicikhaluk/next-ecommerce-sample: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run eslint

chore(release): 0.0.0
  CHANGELOG.md
Due: none

feat(Typography): typography components added
  .husky/pre-commit
  .storybook/main.ts
  next.config.mjs
  package-lock.json
  package.json
  src/components/common/typography/index.ts
  src/components/common/typography/text/index.ts
  src/components/common/typography/text/text.component.tsx
  src/components/common/typography/text/text.module.scss
  src/components/common/typography/text/text.spec.tsx
  src/components/common/typography/text/text.stories.tsx
  src/components/common/typography/title/index.ts
  src/components/common/typography/title/title.component.tsx
  src/components/common/typography/title/title.module.scss
  src/components/common/typography/title/title.spec.tsx
  src/components/common/typography/title/title.stories.tsx
  src/components/index.ts
  src/styles/_normalize.scss
  src/styles/_variables.scss
  src/styles/globals.scss
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): flex and grid components added
  .eslintrc.json
  src/components/common/flex/flex.component.tsx
  src/components/common/flex/flex.module.scss
  src/components/common/flex/flex.spec.tsx
  src/components/common/flex/flex.stories.tsx
  src/components/common/flex/index.ts
  src/components/common/grid/__tests__/grid-item.spec.tsx
  src/components/common/grid/__tests__/grid.spec.tsx
  src/components/common/grid/grid-item.component.tsx
  src/components/common/grid/grid.component.tsx
  src/components/common/grid/grid.module.scss
  src/components/common/grid/grid.stories.tsx
  src/components/common/grid/index.ts
  src/components/index.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): card component created
  .storybook/preview.ts
  __mocks__/next/image.tsx
  src/components/common/card/__tests__/card-cover.spec.tsx
  src/components/common/card/__tests__/card-meta.spec.tsx
  src/components/common/card/__tests__/card.spec.tsx
  src/components/common/card/card-cover.component.tsx
  src/components/common/card/card-meta.component.tsx
  src/components/common/card/card.component.tsx
  src/components/common/card/card.module.scss
  src/components/common/card/card.stories.tsx
  src/components/common/card/index.ts
  src/components/common/typography/title/title.module.scss
  src/components/index.ts
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): rate component added
  .stylelintrc.json
  package-lock.json
  package.json
  src/components/common/rate/index.ts
  src/components/common/rate/rate.component.tsx
  src/components/common/rate/rate.module.scss
  src/components/common/rate/rate.spec.tsx
  src/components/common/rate/rate.stories.tsx
  src/components/index.ts
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

test(rate): test case added
  src/components/common/rate/rate.spec.tsx
Due: npm run format, npm run eslint

feat(UI): avatar component added
  src/api/products/route.ts
  src/app/products/page.tsx
  src/components/common/avatar/avatar.component.tsx
  src/components/common/avatar/avatar.module.scss
  src/components/common/avatar/avatar.spec.tsx
  src/components/common/avatar/avatar.stories.tsx
  src/components/common/avatar/index.ts
  src/components/index.ts
  src/constants/product.ts
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): vertical spacer component added
  src/components/common/vspacer/index.ts
  src/components/common/vspacer/vspacer.component.tsx
  src/components/common/vspacer/vspacer.module.scss
  src/components/common/vspacer/vspacer.spec.tsx
  src/components/common/vspacer/vspacer.stories.tsx
  src/components/index.ts
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): product card component added
  .eslintrc.json
  next.config.mjs
  package.json
  src/components/common/card/card-cover.component.tsx
  src/components/common/card/card-meta.component.tsx
  src/components/common/card/card.module.scss
  src/components/common/card/card.stories.tsx
  src/components/common/flex/flex.component.tsx
  src/components/common/flex/index.ts
  src/components/index.ts
  src/components/product-card/index.ts
  src/components/product-card/product-card.component.tsx
  src/components/product-card/product-card.spec.tsx
  src/components/product-card/product-card.stories.tsx
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): tab component added
  .storybook/main.ts
  src/components/common/tab/index.ts
  src/components/common/tab/tab-content.component.tsx
  src/components/common/tab/tab-list.component.tsx
  src/components/common/tab/tab-pane.component.tsx
  src/components/common/tab/tab-trigger.component.tsx
  src/components/common/tab/tab.component.tsx
  src/components/common/tab/tab.module.scss
  src/components/common/tab/tab.spec.tsx
  src/components/common/tab/tab.stories.tsx
  src/components/index.ts
  src/components/product-card/product-card.stories.tsx
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): comment card component added
  src/components/comment-card/comment-card.component.tsx
  src/components/comment-card/comment-card.spec.tsx
  src/components/comment-card/comment-card.stories.tsx
  src/components/comment-card/index.ts
  src/components/index.ts
  src/constants/product.ts
  src/utils/getDate.ts
Due: npm run format, npm run eslint

feat(UI): product detail tab component added
  src/components/common/tab/tab.module.scss
  src/components/product-detail-tab/index.ts
  src/components/product-detail-tab/product-detail-tab.component.tsx
  src/components/product-detail-tab/product-detail-tab.stories.tsx
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

fix(UI): product detail tabs reexported in components folder
  src/components/index.ts
Due: npm run format, npm run eslint

feat(UI): img carousel component added
  src/components/common/carousel/carousel-item.component.tsx
  src/components/common/carousel/carousel.component.tsx
  src/components/common/carousel/carousel.module.scss
  src/components/common/carousel/carousel.spec.tsx
  src/components/common/carousel/carousel.stories.tsx
  src/components/common/carousel/index.ts
  src/components/index.ts
Due: npm run format, npm run stylelint, npm run eslint

feat(UI): product and product detail page ui markup implemented
  next.config.mjs
  src/app/products/[id]/page.module.scss
  src/app/products/[id]/page.stories.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.module.scss
  src/app/products/page.stories.tsx
  src/app/products/page.tsx
  src/components/common/carousel/carousel.component.tsx
  src/components/product-detail-tab/product-detail-tab.component.tsx
  src/constants/product.ts
  src/styles/_mixin.scss
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(auth): auth implemented
  .env
  CHANGELOG.md
  package-lock.json
  package.json
  src/api/products/route.ts
  src/app/actions.ts
  src/app/api/products/[id]/route.ts
  src/app/api/products/route.ts
  src/app/page.module.scss
  src/app/page.spec.tsx
  src/app/page.stories.tsx
  src/app/page.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/constants/product.ts
  src/constants/users.ts
  src/layout/header/header.layout.tsx
  src/layout/header/header.module.scss
  src/layout/page.layout.tsx
  src/lib/api.ts
  src/lib/auth.ts
  src/middleware.ts
  src/styles/_variables.scss
Due: npm run format, npm run stylelint, npm run eslint

chore(release): 0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(comment): comment actions added
  src/app/actions.ts
  src/app/api/products/[id]/route.ts
  src/app/api/products/route.ts
  src/components/common/rate/rate.component.tsx
  src/components/product-detail-tab/product-detail-tab.component.tsx
  src/components/product-detail-tab/review-form/review.form.module.scss
  src/components/product-detail-tab/review-form/review.form.tsx
  src/lib/api.ts
Due: npm run format, npm run stylelint, npm run eslint

fix(console): console.log removed
  src/components/product-detail-tab/product-detail-tab.component.tsx
Due: npm run format, npm run eslint

docs(readme): readme file added
  README.md
Due: none

docs(readme): added todo list
  README.md
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

Path conditions:
  npm run format: (any of: **/*.scss) or (any of: **/*.{ts,tsx})
  npm run stylelint: any of: **/*.scss
  npm run eslint: any of: **/*.{ts,tsx}
